@import "tailwindcss";

:root {
  font-family:
    "GeneralSans-Variable",
    Helvetica,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Open Sans",
    "Helvetica Neue",
    sans-serif,
    "CabinetGrotesk-Variable";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cabinet_grotesk_font {
  font-family: "CabinetGrotesk-Variable";
}

.general_sans_font {
  font-family: "GeneralSans-Variable";
}
